/*Colors*/
:root {
    --primary-color: #1d2580;
    --secondary-color: #457B9D;
    --accent-color1: #77BDFF;
    --accent-color2: #F1FAEE;
    --text-color1: #333;
    --text-color2: #ffffff;
    --background-color: #edf7ff;

/*font variable*/
/*nav*/
  --font-family-main: 'Oswald', 'Arial', sans-serif; 
  --nav-font-size: 16px; 
  --nav-font-weight: bold; 


  --line-height-base: 1.5;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family-main);
    line-height: var(--line-height-base);
    color: var(--text-color1);
}
header img {
    width: 180px;
    height: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px 20px 300px;
    background-color: var(--accent-color2);
}
header nav a{
    padding: 25px;
    font-family: var(--font-family-main);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    text-decoration: none;
    color: var(--text-color1);
}
header nav a:hover {
    color: var(--accent-color1);
    transition: all 0.3s ease-in-out;
}
.hero h1{
    font-family: var(--font-family-main);
    font-weight: bold;
    font-size: 50px;
    color: var(--text-color1);
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.hero article{
    display: flex;
    align-items: center;
    padding: 10px 100px 10px;
}
.hero article img{
    width: 50%;
    height: auto;
    padding: 0px 50px 0px;
}
.hero article img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.title{
    position: absolute;
    top: 35%;
}
.history{
    font-family: var(--font-family-main);
    font-weight: bold;
    font-size: 40px;
    color: var(--text-color1);
    text-align: center;
    margin-bottom: 15px; 
}
.history-section{
    background-color: var(--accent-color2);
    margin: 50px 50px 50px ;
    padding: 20px 100px 50px ;
    border-radius: 10px;
}
.history-content{
    display: flex;
    align-items:flex-start;
}
.text{
    text-align: justify;
}
.img-history{
    width: 50%;
    height: auto;
    margin: 0px 25px 0px;
    border-radius: 8px;
}
.img-history:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.adventure-section{
    background: var(--accent-color1);
    padding: 30px 50px 50px;
}
.adventure-text{
    font-family: var(--font-family-main);
    font-weight: bold;
    font-size: 40px;
    color: var(--text-color1);
    text-align: center;
    margin-bottom: 15px; 
}
.adventure{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.adventure img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.adventure img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.adventure figcaption{
    font-family: var(--font-family-main);
    font-weight: bold;
    font-size:20px;
    color: var(--text-color1);
    text-align: center; 
}


footer{
    display: grid;
    place-items: center; 
    background-color: var(--text-color1);
    padding: 20px 50px 20px 50px;
}
footer p{
    font-family: var(--font-family-main);
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color2);
    margin: 20px 0px 20px 0px;
}
.footer-nav{
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 0px 30px 0px 0px;
    align-items: center;
}
.footer-nav img{
    width : 32px;
    background-color: var(--text-color2);
    border-radius: 10%;
    padding: 6px;
}