nav{
    background-color: darkblue;
    padding: 10px
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{ padding: 0; }
aside{
    width: auto;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(212, 244, 255);
    color: rgb(0, 0, 81);
}
img{
    height: auto;
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}